html, body {
    font: 12px Arial;
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
}

path {
    stroke: rgb(149, 49, 99);
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.header {
    background-color: #ccc;
}